* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
    color: #585858;
}

main {
    margin: auto;
    width: 80%;
}

.pageTitle {
    margin-left: 70px;
}

/* Navigation*/

nav {
    background-color: #C1E1A6;
    color: #585858;
    height: 100px;
}

h1 {
    position: absolute;
    padding: 10px;
}

.navLinks {
    position: relative;
    top: 30px;
    left: 700px;
    text-decoration: none;
    display: inline-block;
    color: #585858;
    padding-left: 20px;
    font-size: 20px;
    vertical-align: middle;
}

.searchIcon {
    width: 30px;
}

.profilePic {
    width: 40px;
    border-radius: 30px;
    border: 2px solid #118C4E;
}

/* Overall message*/

.overallMessage {
    width: 30%;
    display: inline;
    position: absolute;
    font-size: 20px;
}

/* form */

.loginForm {
    width: 50%;
    margin-top: 50px;
    left: 400px;
    position: relative;
}

.login {
    border: 3px solid #118C4E;
    width: 100%;
    height: 250px;
    margin: 0 auto;
    padding: 20px;

}

.login input {
    border: 2px dotted #C1E1A6;
    padding: 5px;
    font-family: 'Inconsolata', monospace;

}

.login button {
    background-color: #FFB861;
    padding: 10px;
    color: #585858;
}

/*Profile Page*/

div.picture {
    margin-left: 70px;
    width: 30%;
    display: inline-block;
    vertical-align: middle;
}

.mainProfilePic {
    width: 200px;
    border: 3px solid #118C4E;
    border-radius: 50%;

}

.profileDescription {
    width: 49%;
    display: inline-block;
    vertical-align: middle;
}

/*activities on profile page*/

hr {
    border: 1px solid #118C4E;
    margin-top: 30px;
    margin-bottom: 30px;
}

.activityBoxes {
    margin: 0 auto;
    width: 90%;
    margin-bottom: 30px;
    text-align: center;

}

.activityBoxes div {
    border: 1px dotted darkcyan;
    width: 30%;
    display: inline-block;
    padding-top: 30px;
    background-color: #FFB861;
    margin: auto;
    color: white;

}

.activityIcon {
    width: 50px;
    background-color: white;
    border: 3px solid #C1E1A6;
    border-radius: 50%;
    margin-bottom: 20px;
}

.checkbox {
    margin-top: 10px;
    margin-bottom: 20px;
}

input {
    color: #585858;
}

.textBox {
    border: 1px dashed #67BCDB;
    margin-top: 10px;
}

.completedActivity {
    background-color: #C1E1A6;
    padding: 10px;
    color: #585858;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Individual feed*/

.currentFeed {
    border: 2px solid #118C4E;
    height: 200px;
    margin: 15px auto;
    width: 80%;
}

.pointsEarned {
    display: inline-block;
    vertical-align: middle;
    width: 60%;
}

.points,
.practice,
.comment {
    padding: 10px;
    padding-left: 50px;
}

.proofPicture {
    margin-top: 20px;
    margin-left: 50px;
    width: 150px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 100%;
    border: 5px dotted #C1E1A6;
}


/*Activities page*/

.sustainCategories,
.sustainPoints,
.pullDownCategories {
    margin-top: 40px;
}

.sustainCategories {
    margin-left: 70px;

}

.sustainCategories,
.sustainPoints {
    border: 1px solid #118C4E;
}


.pullDownCategories {
    margin-left: 10px;
    background-color: #C1E1A6;
    padding: 10px;
    color: #585858;
}

/*Feed*/

.feedPicture {
    width: 50px;
    vertical-align: middle;
    border-radius: 100%;
    margin-right: 10px;
}

/*Friends section*/

.topPlayers {
    text-align: center;
}

.topRated {
    border: 3px dashed #FFB861;
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

div.topProfile {
    display: inline-block;
    width: 30%;
}

img.topImages {
    width: 50%;
    display: inline-block;
    border-radius: 100%;
    margin-top: 20px;
}

div.topPlayerInfo {
    border: 3px solid #118C4E;
    display: inline-block;
    margin-bottom: 20px;
    padding: 5px;
}

form.search-bar {
    margin: 40px auto;
    width: 60%;
}

input.searchFriends {
    width: 80%;
    padding: 10px;
    border: 2px solid #C1E1A6;
}

input.searchButton {
    background-color: #FFB861;
    padding: 10px;
    color: #585858;
}

div.currentFriends {
    margin: auto;
    width: 90%;
    text-align: center;
}


div.friendProfile {
    display: inline-block;
    width: 18%;
}

img.friendImages {
    width: 60%;
    border-radius: 100%;

}

/*Footer*/

footer {
    background-color: #C1E1A6;
    color: #118C4E;
    height: 100px;
}
