* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cousine', monospace;
    color: #2c3531;
}

html,
body {
    height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
}

main {
    margin: auto;
    width: 80%;
}

main.wrapper {
    min-height: 100%;
}



h2.pageTitle {
    margin-top: 20px;
    margin-left: 70px;
}

/* Navigation*/

nav {
    background-color: #2c3531;
    color: #d1e8e2;
    width: 100%;
    position: relative;
}

nav .demoMessage {
    position: fixed;
    top: 0px;
    left: 40%;
    background-color: #116466;
    color: #fff;
    padding: 10px 5%;
    width: 30%;
    text-align: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

nav .demoMessage span,
nav .demoMessage a {
    color: #fff;

}

nav .demoMessage a {
    cursor: pointer;
    color: yellow;
}

nav .demoMessage #hideBtn {
    padding: 2px 5px;
    position: absolute;
    top: 0;
    right: 0;
}

/*
h1 {
    display: inline-block;
    padding: 10px;
    font-size: 2em;
    margin: 0;
    color: #d1e8e2;
}
*/

img.sustain-logo {
    width: 15%;
    display: inline-block;
}

div.navLinks {

    display: inline-block;
    float: right;
    font-size: 1em;
    vertical-align: middle;
    margin-top: 11px;
    color: #d1e8e2;
}

a.link {
    margin-left: 20px;
    color: #d1e8e2;
}

img.searchIcon {
    width: 20px;
    vertical-align: middle;
    color: #d1e8e2;
}

img.profilePic {
    width: 30px;
    border-radius: 50%;
    border: 2px solid #118C4E;
    vertical-align: middle;
    margin-right: 10px;
}

#js-signout-link {
    margin-right: 20px;
}

/*SIGNIN PAGE*/

section.loginPage {
    margin: 20px auto;
    width: 100%;
    border: 4px solid #d9b08c;
    padding: 50px 10px;
}

/* Overall message*/

p.overallMessage {
    width: 35%;
    display: inline-block;
    font-size: 20px;
    vertical-align: top;
    margin-top: 50px;
    margin-left: 30px;
}

/* form */

div.loginForm {
    width: 49%;
    margin-top: 50px;
    margin-left: 90px;
    display: inline-block;
}

form.login {
    background-color: #116466;
    width: 90%;
    padding: 50px 20px;
    color: #d1e8e2;
}

form.login h2 {
    color: #d1e8e2;
    text-align: center;
    padding-bottom: 20px;
}

form.login label {
    color: #d1e8e2;
}

form.login input {
    border: 2px dotted #C1E1A6;
    font-family: 'Cousine', monospace;
    padding: 5px;
    width: 70%;
}

form.login button {
    background-color: #d9b08c;
    padding: 10px;
    color: #2c3531;
    margin-left: 40%;
    font-family: 'Cousine', monospace;
}

/*Register Form*/

section.registerForm {
    margin: auto;
    width: 80%;
    margin-top: 40px;

}

form.signup {
    width: 70%;
    margin: auto;
    padding: 20px;
    background-color: #116466;

}

form.signup h2 {
    color: #d1e8e2;
    text-align: center;
    padding-bottom: 20px;
}

form.signup label {
    color: #d1e8e2;
}

form.signup input {
    border: 2px dotted #C1E1A6;
    padding: 5px;
    font-family: 'Cousine', monospace;
    color: #d1e8e2;
}

form.signup button {
    background-color: #d9b08c;
    padding: 10px;
    color: #2c3531;
    margin-left: 40%;
    font-family: 'Cousine', monospace;
}

/*Profile Page*/

section.profileInfo {
    width: 80%;
    margin: auto;

}



div.profileHeader {
    width: 70%;
    margin: auto;
}

img.profile-picture {
    margin-left: 44%;
    margin-top: 30px;
    width: 70px;
    border-radius: 50%;
    border: 3px solid #ffcb9a;

}

h2.profileUsername {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 2em;
    text-align: center;
}

p.profileDescription {
    text-align: center;
}

section.pointsSection {
    width: 80%;
    margin: auto;
}

div.pointsTotal {
    width: 50%;
    margin: auto;
    text-align: center;
}

/*activities on profile page*/

/*
hr {
    border: 1px solid #118C4E;
    margin-top: 30px;
    margin-bottom: 30px;
}
*/

section.activityBoxesSection,
section.activityDetailsBoxesSection {
    margin: 20px auto;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
    border: 3px solid #d9b08c;
    padding: 20px;

}

section.activityBoxesSection div,
section.activityDetailsBoxesSection div {
    border: 3px dashed #ffcb9a;
    width: 30%;
    display: inline-block;
    padding-top: 30px;
    background-color: #116466;
    margin: auto;
    color: white;
    vertical-align: top;
    margin-left: 10px;
    margin-bottom: 10px;
}


h3.activityNameValue {
    height: 40px;
    overflow-y: hidden;
    width: 100%;
    text-align: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: #d1e8e2
}

h3.activityPointsValue {
    color: #d1e8e2
}

img.activityImageValue {
    width: 50px;
    background-color: white;
    border: 3px solid #FFCB9A;
    border-radius: 50%;
    margin-bottom: 20px;
}


input.checkbox {
    margin-top: 10px;
    margin-bottom: 20px;
}

input {
    color: #585858;
}

textarea.textBox {
    border: 1px dashed #67BCDB;
    margin-top: 10px;
    width: 90%;
}

button.completedActivity,
button.completedActivityButton {
    background-color: #d1e8e2;
    padding: 10px;
    color: #585858;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Individual feed*/

section.indivFeed {
    border: 3px solid #2c3531;
    padding: 20px;
}

div.currentFeed {
    border: 3px dashed #116466;
    margin: 15px auto;
    width: 80%;
    padding: 10px 0;
}

div.pointsEarned {
    display: inline-block;
    vertical-align: middle;
    width: 60%;
}

h2.points,
h3.practice,
p.comment {
    padding: 10px;
    padding-left: 50px;
}

img.proofPicture {
    margin-top: 20px;
    margin-left: 50px;
    width: 100px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 100%;
    border: 5px dotted #C1E1A6;
}


/*Activities page*/

select.sustainCategories,
select.sustainPoints,
button.pullDownCategories {
    margin-top: 40px;
    font-family: 'Inconsolata', monospace;
}

select.sustainCategories {
    margin-left: 70px;
}

p.categoryPageDescription {
    margin-left: 70px;
    margin-top: 20px;
}

select.sustainCategories,
select.sustainPoints {
    border: 1px solid #118C4E;
}


button.pullDownCategories {
    margin-left: 10px;
    background-color: #C1E1A6;
    padding: 10px;
    color: #585858;
}

button.addCategoryButton {
    background-color: #D1e8e2;
    padding: 10px;
    color: #585858;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Inconsolata', monospace;
}

/*Feed*/

img.feedPicture {
    width: 30px;
    vertical-align: middle;
    border-radius: 100%;
    margin-right: 10px;
}

/*
Friends section

h2.topPlayers {
    text-align: center;
}

div.topRated {
    border: 3px dashed #FFB861;
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

div.topProfile {
    display: inline-block;
    width: 30%;
}

img.topImages {
    width: 35%;
    display: inline-block;
    border-radius: 100%;
    margin-top: 20px;
}

div.topPlayerInfo {
    border: 3px solid #118C4E;
    display: inline-block;
    margin-bottom: 20px;
    padding: 5px;
}

div.playerInfo {
    border: 3px solid #118C4E;
    display: inline-block;
    margin-bottom: 20px;
    padding: 5px;
    font-size: 0.95em;
}

form.search-bar {
    margin: 30px auto;
    width: 70%;
}

input.searchFriends {
    width: 80%;
    padding: 10px;
    border: 2px solid #C1E1A6;
}

input.searchButton {
    background-color: #FFB861;
    padding: 10px;
    color: #585858;
}

div.currentFriends {
    margin: auto;
    width: 90%;
    text-align: center;
}


div.friendProfile {
    display: inline-block;
    width: 18%;
}

img.friendImages {
    width: 35%;
    border-radius: 100%;

}
*/

/*Footer*/

footer {
    background-color: #2c3531;
    color: #d1e8e2;
}

footer,
div.push {
    margin-top: 80px;
    margin-bottom: -50px;
}

div.footerInfo {
    vertical-align: middle;
    display: inline-block;
}

div.socialButtons {
    width: 60%;
    display: inline-block;
    float: right;
    margin: 20px 20px 0 0;
}

img.facebook,
img.instagram,
img.linkedIn,
img.twitter {
    width: 3%;
    display: inline-block;
    float: right;
    vertical-align: middle;
    margin-left: 20px;

}


.activityBoxeCompleted {
    color: red !important;
    background-color: gray !important;
}

.activityBoxAdded {
    color: red !important;
    background-color: gray !important;
}


/* Media Query*/

@media only screen and (max-width: 800px) {
    h3.activityNameValue {
        width: 100%;
        text-align: center;
        padding: 20px;
    }

    div.picture {
        margin-top: 20px;
    }

    img.mainProfilePic {
        width: 130px;
    }

    div.profileDescription {
        width: 49%;
        display: inline-block;
        vertical-align: middle;
    }

    /*activities on profile page*/
    textarea.textBox {
        width: 90%;
    }


    /* Individual feed*/
    div.pointsEarned {
        display: inline-block;
        vertical-align: middle;
        width: 60%;
    }

    img.proofPicture {
        width: 90px;
        display: inline-block;
    }

    /*Overall Feed*/
    img.feedPicture {
        width: 25px;
    }
    /*Friends section*/
    h2.pageTitle {
        margin-bottom: 20px;
    }

    h2.topPlayers {
        font-size: 1.4em;
    }

    div.topRated {
        width: 85%;
    }

    img.topImages {
        width: 30%;
    }

    div.topPlayerInfo {
        font-size: 0.85em;
    }

    div.playerInfo {
        font-size: 0.75em;
    }

    form.search-bar {
        margin: 20px auto;
        width: 60%;
        font-size: 0.9em;
    }

    input.searchFriends {
        width: 70%;
        padding: 7px;
    }

    input.searchButton {
        width: 20%;
    }

    div.currentFriends {
        width: 100%;
    }


    div.friendProfile {
        width: 15%;
    }

    img.friendImages {
        width: 40%;
    }
}

}

@media only screen and (max-width: 640px) {
    /*Nav */
    h1 {
        font-size: 1.5em;
    }

    div.navLinks {
        font-size: 0.9em;
    }

    img.searchIcon {
        width: 20px;
        vertical-align: middle;
    }

    img.profilePic {
        width: 30px;
        border-radius: 30px;
        border: 2px solid #118C4E;
        vertical-align: middle;
    }

    /*sign-in page */
    p.overallMessage {
        width: 30%;
        font-size: 1.0em;
        margin-left: 30px;
    }

    div.loginForm {
        width: 50%;
    }

    form.login input {
        width: 95%;
    }

    /*register page */
    section.registerForm {
        margin: auto;
        width: 80%;
    }

    form.signup {
        width: 90%;
    }

    form.signup input {
        width: 95%
    }

    /*Profile and overall Feed minus the profile pic*/
    /*Prfile page*/
    div.picture {
        margin-left: 50px;
        width: 35%;
    }
    img.mainProfilePic {
        width: 130px;
    }

    div.profileDescription {
        width: 40%;
        font-size: 0.9em;
    }

    section.activityBoxesSection div,
    section.activityDetailsBoxesSection div {
        width: 30%;
        border: 5px solid #D9B08C;
    }

    div.currentFeed {
        width: 90%;
    }

    p.comment {
        font-size: 0.8em;
    }

    h2.points,
    h3.practice {
        font-size: 1em;
    }

    img.proofPicture {
        width: 75px;
    }

    /*Activities page*/
    select.sustainCategories,
    select.sustainPoints {
        margin-top: 20px;
        width: 35%;
        font-size: 0.9em;
    }

    select.sustainCategories {
        margin-left: 10px;

    }

    button.pullDownCategories {
        width: 15%;
        font-size: 0.8em
    }

    /*Feed*/
    img.feedPicture {
        width: 30px;
    }
    /*Friends section*/
    h2.pageTitle {
        margin-bottom: 20px;
    }

    h2.topPlayers {
        font-size: 1.4em;
    }

    div.topRated {
        width: 90%;
    }

    div.topPlayerInfo {
        font-size: 0.8em;
    }

    div.playerInfo {
        font-size: 0.7em;
    }

    form.search-bar {
        margin: 20px auto;
        width: 60%;
        font-size: 0.8em;
    }

    input.searchFriends {
        width: 70%;
        padding: 7px;
    }

    input.searchButton {
        width: 23%;
    }

    div.currentFriends {
        width: 100%;
        text-align: center;
    }


    div.friendProfile {
        width: 18%;
    }

    img.friendImages {
        width: 45%;
    }
}


@media only screen and (max-width: 480px) {

    /* Nav */
    h1 {
        font-size: 1.0em;
    }

    div.navLinks {
        font-size: 0.7em;
    }

    a.link {
        margin-left: 10px;
    }

    img.searchIcon {
        width: 15px;
        vertical-align: middle;
    }

    img.profilePic {
        width: 20px;
    }

    /* sign-in page */
    p.overallMessage {
        width: 80%;
        display: block;
        font-size: 1em;
        vertical-align: top;
        margin-top: 20px;
    }

    div.loginForm {
        width: 100%;
        display: block;
        margin-top: 20px
    }


    section.registerForm {
        margin: auto;
        width: 95%;
    }

    /* Register Page */
    form.signup {
        width: 100%;
    }

    form.signup input {
        width: 95%
    }

    /*Profile Page*/
    div.picture {
        display: block;
        margin: auto;
        margin-top: 20px;
    }

    img.mainProfilePic {
        width: 100px;
    }

    div.profileDescription {
        width: 90%;
        display: block;
        text-align: center;
    }

    /*activities on profile page*/
    section.profileActivityBoxesSection {
        margin: auto;
        width: 100%;
    }

    section.profileActivityBoxesSection div {
        width: 80%;
        display: block;
        margin: auto;
        margin-top: 5px;
        margin-bottom: 5px;
    }


    h3.activityNameValue {
        width: 100%;
        text-align: center;
    }

    textarea.textBox {
        width: 85%
    }

    /* Individual and overall feed*/
    div.currentFeed {
        margin: 10px auto;
        width: 90%;
    }

    div.pointsEarned {
        width: 95%;
        margin: auto;
        margin-bottom: 10px;
    }

    p.comment {
        font-size: 0.8em;
    }

    h2.points,
    h3.practice {
        font-size: 1.1em;
    }

    img.proofPicture {
        width: 70px;
        margin-left: 115px;
    }

    /*Activities page*/
    section.activityBoxesSection,
    section.activityDetailsBoxesSection {
        margin: auto;
        width: 100%;
    }

    section.activityBoxesSection div,
    section.activityDetailsBoxesSection div {
        width: 80%;
        display: block;
        margin: auto;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    select.sustainCategories,
    select.sustainPoints {
        margin-top: 20px;
        width: 35%;
        font-size: 0.7em;
    }

    select.sustainCategories {
        margin-left: 10px;

    }

    button.pullDownCategories {
        width: 18%;
        font-size: 0.8em;
    }

    /*Feed*/
    img.feedPicture {
        width: 25px;
    }
    /*Friends section*/
    h2.pageTitle {
        margin-bottom: 20px;
    }

    h2.topPlayers {
        font-size: 1.2em;
    }

    div.topRated {
        width: 90%;
    }

    div.topPlayerInfo {
        font-size: 0.7em;
    }

    div.playerInfo {
        font-size: 0.65em;
    }

    form.search-bar {
        margin: 20px auto;
        width: 60%;
        font-size: 0.7em;
    }

    input.searchFriends {
        width: 60%;
        padding: 7px;
    }

    input.searchButton {
        width: 30%;
    }

    div.currentFriends {
        margin: auto;
        width: 100%;
        text-align: center;
    }


    div.friendProfile {
        display: inline-block;
        width: 15%;
    }

    img.friendImages {
        width: 35%;
        border-radius: 100%;

    }
}
