* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
    color: #585858;
}

html,
body {
    height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
}

main {
    margin: auto;
    width: 80%;
}

main.wrapper {
    min-height: 100%;
}

h2.pageTitle {
    margin-left: 70px;
}

/* Navigation*/

nav {
    background-color: #C1E1A6;
    color: #585858;
    width: 100%;
}

h1 {
    display: inline-block;
    padding: 10px;
    font-size: 2em;
    margin: 0;
}

div.navLinks {

    display: inline-block;
    float: right;
    color: #585858;
    font-size: 1em;
    vertical-align: middle;
    margin-top: 11px;
}

a.link {
    margin-left: 20px;
}

img.searchIcon {
    width: 30px;
    vertical-align: middle;
}

img.profilePic {
    width: 40px;
    border-radius: 30px;
    border: 2px solid #118C4E;
    vertical-align: middle;
    margin-right: 10px;
}

#js-signout-link {
    margin-right: 20px;
}

/*SIGNIN PAGE*/

section.loginPage {
    margin: 20px auto;
    width: 100%;
}

/* Overall message*/

p.overallMessage {
    width: 30%;
    display: inline-block;
    font-size: 20px;
    vertical-align: top;
    margin-top: 50px;
    margin-left: 50px;
}

/* form */

div.loginForm {
    width: 49%;
    margin-top: 50px;
    margin-left: 20px;
    display: inline-block;
}

form.login {
    border: 3px solid #118C4E;
    width: 90%;
    padding: 20px;

}

form.login input {
    border: 2px dotted #C1E1A6;
    padding: 5px;
    font-family: 'Inconsolata', monospace;
    width: 70%;
}

form.login button {
    background-color: #FFB861;
    padding: 10px;
    color: #585858;
}

/*Register Form*/

section.registerForm {
    margin: auto;
    width: 80%;
}

form.signup {
    border: 3px solid #118C4E;
    width: 70%;
    margin: auto;
    padding: 20px;
}

form.signup input {
    border: 2px dotted #C1E1A6;
    padding: 5px;
    font-family: 'Inconsolata', monospace;
}

form.signup button {
    background-color: #FFB861;
    padding: 10px;
    color: #585858;
}

/*Profile Page*/

div.picture {
    margin-left: 70px;
    width: 30%;
    display: inline-block;
    vertical-align: middle;
}

img.mainProfilePic {
    width: 150px;
    border: 3px solid #118C4E;
    border-radius: 50%;
    margin-top: 20px;

}

div.profileDescription {
    width: 49%;
    display: inline-block;
    vertical-align: middle;
}

/*activities on profile page*/

hr {
    border: 1px solid #118C4E;
    margin-top: 30px;
    margin-bottom: 30px;
}

section.activityBoxes {
    margin: 0 auto;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;

}

section.activityBoxes div {
    border: 1px dotted darkcyan;
    width: 32%;
    display: inline-block;
    padding-top: 30px;
    background-color: #FFB861;
    margin: auto;
    color: white;

}

img.activityIcon {
    width: 50px;
    background-color: white;
    border: 3px solid #C1E1A6;
    border-radius: 50%;
    margin-bottom: 20px;
}


input.checkbox {
    margin-top: 10px;
    margin-bottom: 20px;
}

input {
    color: #585858;
}

textarea.textBox {
    border: 1px dashed #67BCDB;
    margin-top: 10px;
    width: 90%;
}

button.completedActivity {
    background-color: #C1E1A6;
    padding: 10px;
    color: #585858;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Individual feed*/

div.currentFeed {
    border: 2px solid #118C4E;
    margin: 15px auto;
    width: 80%;
    padding: 10px 0;
}

div.pointsEarned {
    display: inline-block;
    vertical-align: middle;
    width: 60%;
}

h2.points,
h3.practice,
p.comment {
    padding: 10px;
    padding-left: 50px;
}

img.proofPicture {
    margin-top: 20px;
    margin-left: 50px;
    width: 100px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 100%;
    border: 5px dotted #C1E1A6;
}


/*Activities page*/

select.sustainCategories,
select.sustainPoints,
button.pullDownCategories {
    margin-top: 40px;
    font-family: 'Inconsolata', monospace;
}

select.sustainCategories {
    margin-left: 70px;

}

select.sustainCategories,
select.sustainPoints {
    border: 1px solid #118C4E;
}


button.pullDownCategories {
    margin-left: 10px;
    background-color: #C1E1A6;
    padding: 10px;
    color: #585858;
}

button.addButton {
    background-color: #C1E1A6;
    padding: 10px;
    color: #585858;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*Feed*/

img.feedPicture {
    width: 30px;
    vertical-align: middle;
    border-radius: 100%;
    margin-right: 10px;
}

/*Friends section*/

h2.topPlayers {
    text-align: center;
}

div.topRated {
    border: 3px dashed #FFB861;
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

div.topProfile {
    display: inline-block;
    width: 30%;
}

img.topImages {
    width: 35%;
    display: inline-block;
    border-radius: 100%;
    margin-top: 20px;
}

div.topPlayerInfo {
    border: 3px solid #118C4E;
    display: inline-block;
    margin-bottom: 20px;
    padding: 5px;
}

div.playerInfo {
    border: 3px solid #118C4E;
    display: inline-block;
    margin-bottom: 20px;
    padding: 5px;
    font-size: 0.95em;
}

form.search-bar {
    margin: 30px auto;
    width: 70%;
}

input.searchFriends {
    width: 80%;
    padding: 10px;
    border: 2px solid #C1E1A6;
}

input.searchButton {
    background-color: #FFB861;
    padding: 10px;
    color: #585858;
}

div.currentFriends {
    margin: auto;
    width: 90%;
    text-align: center;
}


div.friendProfile {
    display: inline-block;
    width: 18%;
}

img.friendImages {
    width: 35%;
    border-radius: 100%;

}

/*Footer*/

footer {
    background-color: #C1E1A6;
    color: #118C4E;
}

footer,
div.push {
    margin-bottom: -50px;
}

div.footerInfo {
    vertical-align: middle;
    display: inline-block;
}

div.socialButtons {
    width: 60%;
    display: inline-block;
    float: right;
    margin: 20px 20px 0 0;
}

img.facebook,
img.instagram,
img.linkedIn,
img.twitter {
    width: 3%;
    display: inline-block;
    float: right;
    vertical-align: middle;
    margin-left: 20px;

}

/* Media Query*/

@media only screen and (max-width: 800px) {
    h3.activityName {
        width: 100%;
        text-align: center;
        padding: 20px;
    }

    div.picture {
        margin-top: 20px;
    }

    img.mainProfilePic {
        width: 130px;
    }

    div.profileDescription {
        width: 49%;
        display: inline-block;
        vertical-align: middle;
    }

    /*activities on profile page*/
    textarea.textBox {
        width: 90%;
    }


    /* Individual feed*/
    div.pointsEarned {
        display: inline-block;
        vertical-align: middle;
        width: 60%;
    }

    img.proofPicture {
        width: 90px;
        display: inline-block;
    }

    /*Overall Feed*/
    img.feedPicture {
        width: 25px;
    }
    /*Friends section*/
    h2.pageTitle {
        margin-bottom: 20px;
    }

    h2.topPlayers {
        font-size: 1.4em;
    }

    div.topRated {
        width: 85%;
    }

    img.topImages {
        width: 30%;
    }

    div.topPlayerInfo {
        font-size: 0.85em;
    }

    div.playerInfo {
        font-size: 0.75em;
    }

    form.search-bar {
        margin: 20px auto;
        width: 60%;
        font-size: 0.9em;
    }

    input.searchFriends {
        width: 70%;
        padding: 7px;
    }

    input.searchButton {
        width: 20%;
    }

    div.currentFriends {
        width: 100%;
    }


    div.friendProfile {
        width: 15%;
    }

    img.friendImages {
        width: 40%;
    }
}

}

@media only screen and (max-width: 640px) {
    /*Nav */
    h1 {
        font-size: 1.5em;
    }

    div.navLinks {
        font-size: 0.9em;
    }

    img.searchIcon {
        width: 20px;
        vertical-align: middle;
    }

    img.profilePic {
        width: 30px;
        border-radius: 30px;
        border: 2px solid #118C4E;
        vertical-align: middle;
    }

    /*sign-in page */
    p.overallMessage {
        width: 30%;
        font-size: 1.0em;
        margin-left: 30px;
    }

    div.loginForm {
        width: 50%;
    }

    form.login input {
        width: 95%;
    }

    /*register page */
    section.registerForm {
        margin: auto;
        width: 80%;
    }

    form.signup {
        width: 90%;
    }

    form.signup input {
        width: 95%
    }

    /*Profile and overall Feed minus the profile pic*/
    /*Prfile page*/
    div.picture {
        margin-left: 50px;
        width: 35%;
    }
    img.mainProfilePic {
        width: 130px;
    }

    div.profileDescription {
        width: 40%;
        font-size: 0.9em;
    }

    section.activityBoxes div {
        width: 30%;
    }

    div.currentFeed {
        width: 90%;
    }

    p.comment {
        font-size: 0.8em;
    }

    h2.points,
    h3.practice {
        font-size: 1em;
    }

    img.proofPicture {
        width: 75px;
    }

    /*Activities page*/
    select.sustainCategories,
    select.sustainPoints {
        margin-top: 20px;
        width: 35%;
        font-size: 0.9em;
    }

    select.sustainCategories {
        margin-left: 10px;

    }

    button.pullDownCategories {
        width: 15%;
        font-size: 0.8em
    }

    /*Feed*/
    img.feedPicture {
        width: 30px;
    }
    /*Friends section*/
    h2.pageTitle {
        margin-bottom: 20px;
    }

    h2.topPlayers {
        font-size: 1.4em;
    }

    div.topRated {
        width: 90%;
    }

    div.topPlayerInfo {
        font-size: 0.8em;
    }

    div.playerInfo {
        font-size: 0.7em;
    }

    form.search-bar {
        margin: 20px auto;
        width: 60%;
        font-size: 0.8em;
    }

    input.searchFriends {
        width: 70%;
        padding: 7px;
    }

    input.searchButton {
        width: 23%;
    }

    div.currentFriends {
        width: 100%;
        text-align: center;
    }


    div.friendProfile {
        width: 18%;
    }

    img.friendImages {
        width: 45%;
    }
}


@media only screen and (max-width: 480px) {

    /* Nav */
    h1 {
        font-size: 1.0em;
    }

    div.navLinks {
        font-size: 0.7em;
    }

    a.link {
        margin-left: 10px;
    }

    img.searchIcon {
        width: 15px;
        vertical-align: middle;
    }

    img.profilePic {
        width: 20px;
    }

    /* sign-in page */
    p.overallMessage {
        width: 80%;
        display: block;
        font-size: 1em;
        vertical-align: top;
        margin-top: 20px;
    }

    div.loginForm {
        width: 100%;
        display: block;
        margin-top: 20px
    }


    section.registerForm {
        margin: auto;
        width: 95%;
    }

    /* Register Page */
    form.signup {
        width: 100%;
    }

    form.signup input {
        width: 95%
    }

    /*Profile Page*/
    div.picture {
        display: block;
        margin: auto;
        margin-top: 20px;
    }

    img.mainProfilePic {
        width: 100px;
    }

    div.profileDescription {
        width: 90%;
        display: block;
        text-align: center;
    }

    /*activities on profile page*/
    section.activityBoxes {
        margin: auto;
        width: 100%;
    }

    section.activityBoxes div {
        width: 80%;
        display: block;
        margin: auto;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    h3.activityName {
        width: 100%;
        text-align: center;
    }

    textarea.textBox {
        width: 85%
    }

    /* Individual and overall feed*/
    div.currentFeed {
        margin: 10px auto;
        width: 90%;
    }

    div.pointsEarned {
        width: 95%;
        margin: auto;
        margin-bottom: 10px;
    }

    p.comment {
        font-size: 0.8em;
    }

    h2.points,
    h3.practice {
        font-size: 1.1em;
    }

    img.proofPicture {
        width: 70px;
        margin-left: 115px;
    }

    /*Activities page*/
    select.sustainCategories,
    select.sustainPoints {
        margin-top: 20px;
        width: 35%;
        font-size: 0.7em;
    }

    select.sustainCategories {
        margin-left: 10px;

    }

    button.pullDownCategories {
        width: 18%;
        font-size: 0.8em;
    }

    /*Feed*/
    img.feedPicture {
        width: 25px;
    }
    /*Friends section*/
    h2.pageTitle {
        margin-bottom: 20px;
    }

    h2.topPlayers {
        font-size: 1.2em;
    }

    div.topRated {
        width: 90%;
    }

    div.topPlayerInfo {
        font-size: 0.7em;
    }

    div.playerInfo {
        font-size: 0.65em;
    }

    form.search-bar {
        margin: 20px auto;
        width: 60%;
        font-size: 0.7em;
    }

    input.searchFriends {
        width: 60%;
        padding: 7px;
    }

    input.searchButton {
        width: 30%;
    }

    div.currentFriends {
        margin: auto;
        width: 100%;
        text-align: center;
    }


    div.friendProfile {
        display: inline-block;
        width: 15%;
    }

    img.friendImages {
        width: 35%;
        border-radius: 100%;

    }
}
